*,*::after,*::before{
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}
body{
    background: rgb(70,13,121);
background: linear-gradient(90deg, rgba(70,13,121,1) 0%, rgba(26,123,180,1) 47%, rgba(173,109,231,1) 80%);
overflow: hidden;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 50px;
    font-weight: bolder;
}
.sec{
    color: red;
}